services:
  db:
    image: docker.io/library/postgres:14
    restart: always
    container_name: instrutoresbrasil-database
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
        - "5435:5432"

  redis:
    image: docker.io/library/redis:7-alpine
    restart: always
    container_name: instrutoresbrasil-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    command: redis-server --appendonly yes

  # Para simular o S3 durante desenvolvimento
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - "./.localstack:/var/lib/localstack"
