export baseUrl='http://localhost:3000'
export JWT_SECRET='your-256-bit-secret-key-change-this-in-production'
# -- Google
export GOOGLE_CLIENT_ID='your-google-client-id-here'
export GOOGLE_CLIENT_SECRET='your-google-client-secret-here'
# -- Redis
export REDIS_HOST='localhost'
export REDIS_PORT='6379'
export REDIS_PASSWORD=''
export REDIS_DATABASE=0
# -- AWS
export AWS_REGION=''
export AWS_S3_BUCKET=''
export AWS_S3_PRESIGNED_URL_EXPIRATION_MINUTES=''
export AWS_S3_MAX_FILE_SIZE_MB=''
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
